<h1>Stupid Coaching</h1>

<div>
  <h2><%= @question %></h2>
  <p>- You</p>
</div>

</br>
</br>

<div>
  <h2><%= @answer %></h2>
  <p>- Coach</p>
</div>

</br>
<h3><%= link_to "Ask another question", "/ask.html" %></h3>
